* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

*::selection {
    background-color: var(--theme-orange);
}

:root {
    --theme-orange: #ffc900;
    --theme-orange-lighter: #ffd640;
    --theme-orange-hover: #fff6d5;
    --theme-green-1: #95c135;
    --theme-green-2: #2eaa64;
    --theme-green-blue: #008b7d;
    --theme-green-blue-2: #006979;
    --theme-dark: #006979;
    --theme-gray: #dfe0df;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--theme-green-blue-2);
    padding: 0 5vw;
    position: sticky;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: 600;
}

.brand-title a {
    text-decoration: none;
}

.brand-title a:link {
    color: var(--theme-orange);
}

.brand-title a:visited {
    color: var(--theme-orange);
}

.brand-title a:hover {
    color: var(--theme-orange-lighter);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-links a:link {
    color: black;
}

.navbar-links a:visited {
    color: black;
}

.navbar-links a:hover {
    color: var(--theme-green-blue);
    background-color: var(--theme-orange-hover);
}

.login a {
    border: 2px solid var(--theme-green-blue-2);
    border-radius: 50px;
}

.signup a {
    color: white;
    background-color: var(--theme-green-blue-2);
    border: 2px solid var(--theme-green-blue-2);
    border-radius: 50px;
}

.signup a:hover {
    background-color: var(--theme-orange);
    color: var(--theme-green-blue-2);
    ;
}

.hero {
    background-image: url(Assets/trek.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
}

.cta {
    border: 1px solid white;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0 10vw 0 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,50,50,0) 100%);  
    color: white;
}

.login-signup-form{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}